MaterialProf/Briefing Programação WEB para Adolescentes.msg
MaterialProf/Chamada.xlsx
MaterialProf/logo-senac-1024x417.png
MaterialProf/Prog Web Adolescentes - Plano de Curso.pdf
UC2-FrontEnd/24.11.05-PosicionamentoCSS/Prof/1_positionEstatRel.html
UC2-FrontEnd/24.11.05-PosicionamentoCSS/Prof/2_positionAbsolute.html
UC2-FrontEnd/24.11.05-PosicionamentoCSS/Prof/3_positionFixed.html
UC2-FrontEnd/24.11.05-PosicionamentoCSS/Prof/4_positionFlex.html
UC2-FrontEnd/24.11.05-PosicionamentoCSS/Prof/5_positionGrid.html
UC2-FrontEnd/24.11.05-PosicionamentoCSS/Prof/aula.html
UC2-FrontEnd/24.11.05-PosicionamentoCSS/Prof/exercicio1.html
UC2-FrontEnd/24.11.05-PosicionamentoCSS/Prof/exercicio2.html
UC2-FrontEnd/24.11.05-PosicionamentoCSS/Prof/exercicio3.html
UC2-FrontEnd/24.11.05-PosicionamentoCSS/Prof/exercicio4.html
UC2-FrontEnd/24.11.05-PosicionamentoCSS/Prof/4.1_aulaPositionFlex.html
UC2-FrontEnd/24.11.05-PosicionamentoCSS/Prof/4.2_positionFlex.html
UC2-FrontEnd/24.11.05-PosicionamentoCSS/Prof/4.1_aulaFlexPropriedades.html
UC2-FrontEnd/24.11.08-Animacao/Prof/1_animacao.html
UC2-FrontEnd/24.11.08-Animacao/Prof/2_animacao.html
UC2-FrontEnd/24.11.05-PosicionamentoCSS/Prof/6_exe_barras.html
UC2-FrontEnd/24.11.05-PosicionamentoCSS/Prof/7_tabXadrezGrid.html
UC2-FrontEnd/24.11.21-Bootstrap/Prof/exemplo1/index.html
UC2-FrontEnd/24.11.21-Bootstrap/Prof/exemplo2/index.html
UC2-FrontEnd/24.11.21-Bootstrap/Prof/exemplo2/img/alienToyStory.png
UC2-FrontEnd/24.11.21-Bootstrap/Prof/exemplo2/img/alienToyStory2.png
UC2-FrontEnd/24.11.21-Bootstrap/Prof/exemplo2/img/buzzWoodyFlying.png
UC2-FrontEnd/24.11.21-Bootstrap/Prof/exemplo2/img/lancamentoFilme.png
UC2-FrontEnd/24.11.21-Bootstrap/Prof/exemplo2/img/numeroDoFilme.png
UC2-FrontEnd/24.11.21-Bootstrap/Prof/exemplo2/img/PlayStation_room.jpg
UC2-FrontEnd/24.11.21-Bootstrap/Prof/exemplo2/img/quartoDoAndy.jpeg
UC2-FrontEnd/24.11.21-Bootstrap/Prof/exemplo2/img/toyStoryAndysRoomWallpaper.jpeg
UC2-FrontEnd/24.11.21-Bootstrap/Prof/exemplo2/img/ToyStoryLogo.png
UC2-FrontEnd/24.11.21-Bootstrap/Prof/exemplo3/index.html
UC2-FrontEnd/24.11.21-Bootstrap/Prof/exemplo4/carro.html
UC2-FrontEnd/24.11.21-Bootstrap/Prof/exemplo4/index.html
UC2-FrontEnd/24.11.08-Animacao/Prof/Carta/Envelope.pptx
UC2-FrontEnd/24.11.08-Animacao/Prof/Carta/index.html
UC2-FrontEnd/24.11.08-Animacao/Prof/Carta/script.js
UC2-FrontEnd/24.11.08-Animacao/Prof/Carta/styles.css
UC2-FrontEnd/24.11.08-Animacao/Prof/Carta/audio/MetamorfoseAmbulante.mp3
UC2-FrontEnd/24.11.08-Animacao/Prof/Carta/img/BackLetterEnvelope.png
UC2-FrontEnd/24.11.08-Animacao/Prof/Carta/img/flapEnvelope.png
UC2-FrontEnd/24.11.08-Animacao/Prof/Carta/img/heart.png
UC2-FrontEnd/24.11.08-Animacao/Prof/Carta/img/letter.png
UC2-FrontEnd/24.11.08-Animacao/Prof/Carta/img/letterEnvelope.png
UC3-AlgoritmosLogicaProgramacao/JS/1_Introducao/mediaNotas.js
UC3-AlgoritmosLogicaProgramacao/JS/2_Condicionais/bebida.js
UC3-AlgoritmosLogicaProgramacao/JS/2_Condicionais/calculadoraDesconto.js
UC3-AlgoritmosLogicaProgramacao/JS/2_Condicionais/calculadoraSimples.js
UC3-AlgoritmosLogicaProgramacao/JS/2_Condicionais/conversorMoeda.js
UC3-AlgoritmosLogicaProgramacao/JS/2_Condicionais/diaSemana.js
UC3-AlgoritmosLogicaProgramacao/JS/2_Condicionais/imc.js
UC3-AlgoritmosLogicaProgramacao/JS/2_Condicionais/multa.js
UC3-AlgoritmosLogicaProgramacao/JS/2_Condicionais/palindromo.js
UC3-AlgoritmosLogicaProgramacao/JS/2_Condicionais/par_impar.js
UC3-AlgoritmosLogicaProgramacao/JS/2_Condicionais/verificaGeracao.js
UC3-AlgoritmosLogicaProgramacao/JS/2_Condicionais/verificaParImpar.js
UC3-AlgoritmosLogicaProgramacao/JS/3_LoopRepeticao/1.lacoExplicacao.js
UC3-AlgoritmosLogicaProgramacao/JS/3_LoopRepeticao/doWhile_numeroSecreto.js
UC3-AlgoritmosLogicaProgramacao/JS/3_LoopRepeticao/for_contador.js
UC3-AlgoritmosLogicaProgramacao/JS/3_LoopRepeticao/for_contadorVogais.js
UC3-AlgoritmosLogicaProgramacao/JS/3_LoopRepeticao/for_fatorial.js
UC3-AlgoritmosLogicaProgramacao/JS/3_LoopRepeticao/for_somar.js
UC3-AlgoritmosLogicaProgramacao/JS/3_LoopRepeticao/for_tabuada.js
UC3-AlgoritmosLogicaProgramacao/JS/3_LoopRepeticao/while_contagem.js
UC3-AlgoritmosLogicaProgramacao/JS/3_LoopRepeticao/while_contagemRegressiva.js
UC3-AlgoritmosLogicaProgramacao/JS/3_LoopRepeticao/while_idades.js
UC3-AlgoritmosLogicaProgramacao/JS/3_LoopRepeticao/while_lanchonete.js
UC3-AlgoritmosLogicaProgramacao/JS/3_LoopRepeticao/while_senha.js
UC3-AlgoritmosLogicaProgramacao/JS/4_array/1.array_Explicacao.js
UC3-AlgoritmosLogicaProgramacao/JS/4_array/array_desconto.js
UC3-AlgoritmosLogicaProgramacao/JS/4_array/array_filter_maiorIdade.js
UC3-AlgoritmosLogicaProgramacao/JS/4_array/array_for_multiplica3.js
UC3-AlgoritmosLogicaProgramacao/JS/4_array/array_forEach_nomes.js
UC3-AlgoritmosLogicaProgramacao/JS/4_array/array_frutas.js
UC3-AlgoritmosLogicaProgramacao/JS/4_array/array_manipulaNomes.js
UC3-AlgoritmosLogicaProgramacao/JS/4_array/array_map_multiplica5.js
UC3-AlgoritmosLogicaProgramacao/JS/4_array/array_reduce_fatorial.js
UC3-AlgoritmosLogicaProgramacao/JS/4_array/array_somarTriploMaior5.js
UC3-AlgoritmosLogicaProgramacao/JS/5_funcoes/1.explicacaoFuncoes.js
UC3-AlgoritmosLogicaProgramacao/JS/6_funcoes_tela/fatorial.html
UC3-AlgoritmosLogicaProgramacao/JS/6_funcoes_tela/funcao_tela_imc.html
UC3-AlgoritmosLogicaProgramacao/JS/6_funcoes_tela/imc_abaixo.jpg
UC3-AlgoritmosLogicaProgramacao/JS/6_funcoes_tela/imc_normal.jpg
UC3-AlgoritmosLogicaProgramacao/JS/6_funcoes_tela/imc_obesidade.jpg
UC3-AlgoritmosLogicaProgramacao/JS/6_funcoes_tela/imc_obesidadeExtrema.jpg
UC3-AlgoritmosLogicaProgramacao/JS/6_funcoes_tela/imc_sobrePeso.jpg
UC3-AlgoritmosLogicaProgramacao/JS/6_funcoes_tela/media.html
UC3-AlgoritmosLogicaProgramacao/JS/7_avaliacao/1_switch_estacoesAno.js
UC3-AlgoritmosLogicaProgramacao/JS/7_avaliacao/2_array_cidades.js
UC3-AlgoritmosLogicaProgramacao/JS/7_avaliacao/3_for_contarConsoantes.js
UC3-AlgoritmosLogicaProgramacao/JS/7_avaliacao/4_while_array_cadastro.js
UC3-AlgoritmosLogicaProgramacao/JS/7_avaliacao/questoes.js
UC3-AlgoritmosLogicaProgramacao/JS/8_DOM/index.html
UC3-AlgoritmosLogicaProgramacao/JS/8_DOM/scriptsExercicioDOM.js
UC3-AlgoritmosLogicaProgramacao/JS/8_DOM/stylesExercicioDOM.css
UC4-BackEnd/Prof/1.API_CEP/index.html
UC4-BackEnd/Prof/1.API_CEP/index2.html
UC4-BackEnd/Prof/1.API_CEP/scriptAPI.js
UC4-BackEnd/Prof/1.API_CEP/scriptAPI2.js
UC4-BackEnd/Prof/2.API_pessoas/index.html
UC4-BackEnd/Prof/2.API_pessoas/script.js
UC4-BackEnd/Prof/3.API_RickMorty/index.html
UC4-BackEnd/Prof/3.API_RickMorty/index2.html
UC4-BackEnd/Prof/3.API_RickMorty/script.js
UC4-BackEnd/Prof/3.API_RickMorty/script2.js
UC4-BackEnd/Prof/3.API_RickMorty/style.css
UC4-BackEnd/Prof/4.LocalStorage_LojaCarros/index.html
UC4-BackEnd/Prof/4.LocalStorage_LojaCarros/script.js
UC4-BackEnd/Prof/4.LocalStorage_LojaCarros/SessionLocalStorage.html
UC4-BackEnd/Prof/5.RedeTeen/index.html
UC4-BackEnd/Prof/5.RedeTeen/script.js
UC4-BackEnd/Prof/5.RedeTeen/Back/.editorconfig
UC4-BackEnd/Prof/5.RedeTeen/Back/.env.example
UC4-BackEnd/Prof/5.RedeTeen/Back/.gitattributes
UC4-BackEnd/Prof/5.RedeTeen/Back/.gitignore
UC4-BackEnd/Prof/5.RedeTeen/Back/artisan
UC4-BackEnd/Prof/5.RedeTeen/Back/composer.json
UC4-BackEnd/Prof/5.RedeTeen/Back/composer.lock
UC4-BackEnd/Prof/5.RedeTeen/Back/package.json
UC4-BackEnd/Prof/5.RedeTeen/Back/phpunit.xml
UC4-BackEnd/Prof/5.RedeTeen/Back/README.md
UC4-BackEnd/Prof/5.RedeTeen/Back/vite.config.js
UC4-BackEnd/Prof/5.RedeTeen/Back/app/Console/Kernel.php
UC4-BackEnd/Prof/5.RedeTeen/Back/app/Exceptions/Handler.php
UC4-BackEnd/Prof/5.RedeTeen/Back/app/Http/Kernel.php
UC4-BackEnd/Prof/5.RedeTeen/Back/app/Http/Controllers/Controller.php
UC4-BackEnd/Prof/5.RedeTeen/Back/app/Http/Controllers/MentorController.php
UC4-BackEnd/Prof/5.RedeTeen/Back/app/Http/Controllers/RecadoController.php
UC4-BackEnd/Prof/5.RedeTeen/Back/app/Http/Middleware/Authenticate.php
UC4-BackEnd/Prof/5.RedeTeen/Back/app/Http/Middleware/EncryptCookies.php
UC4-BackEnd/Prof/5.RedeTeen/Back/app/Http/Middleware/PreventRequestsDuringMaintenance.php
UC4-BackEnd/Prof/5.RedeTeen/Back/app/Http/Middleware/RedirectIfAuthenticated.php
UC4-BackEnd/Prof/5.RedeTeen/Back/app/Http/Middleware/TrimStrings.php
UC4-BackEnd/Prof/5.RedeTeen/Back/app/Http/Middleware/TrustHosts.php
UC4-BackEnd/Prof/5.RedeTeen/Back/app/Http/Middleware/TrustProxies.php
UC4-BackEnd/Prof/5.RedeTeen/Back/app/Http/Middleware/ValidateSignature.php
UC4-BackEnd/Prof/5.RedeTeen/Back/app/Http/Middleware/VerifyCsrfToken.php
UC4-BackEnd/Prof/5.RedeTeen/Back/app/Models/Mentor.php
UC4-BackEnd/Prof/5.RedeTeen/Back/app/Models/Recado.php
UC4-BackEnd/Prof/5.RedeTeen/Back/app/Models/User.php
UC4-BackEnd/Prof/5.RedeTeen/Back/app/Providers/AppServiceProvider.php
UC4-BackEnd/Prof/5.RedeTeen/Back/app/Providers/AuthServiceProvider.php
UC4-BackEnd/Prof/5.RedeTeen/Back/app/Providers/BroadcastServiceProvider.php
UC4-BackEnd/Prof/5.RedeTeen/Back/app/Providers/EventServiceProvider.php
UC4-BackEnd/Prof/5.RedeTeen/Back/app/Providers/RouteServiceProvider.php
UC4-BackEnd/Prof/5.RedeTeen/Back/bootstrap/app.php
UC4-BackEnd/Prof/5.RedeTeen/Back/bootstrap/cache/.gitignore
UC4-BackEnd/Prof/5.RedeTeen/Back/config/app.php
UC4-BackEnd/Prof/5.RedeTeen/Back/config/auth.php
UC4-BackEnd/Prof/5.RedeTeen/Back/config/broadcasting.php
UC4-BackEnd/Prof/5.RedeTeen/Back/config/cache.php
UC4-BackEnd/Prof/5.RedeTeen/Back/config/cors.php
UC4-BackEnd/Prof/5.RedeTeen/Back/config/database.php
UC4-BackEnd/Prof/5.RedeTeen/Back/config/filesystems.php
UC4-BackEnd/Prof/5.RedeTeen/Back/config/hashing.php
UC4-BackEnd/Prof/5.RedeTeen/Back/config/logging.php
UC4-BackEnd/Prof/5.RedeTeen/Back/config/mail.php
UC4-BackEnd/Prof/5.RedeTeen/Back/config/queue.php
UC4-BackEnd/Prof/5.RedeTeen/Back/config/sanctum.php
UC4-BackEnd/Prof/5.RedeTeen/Back/config/services.php
UC4-BackEnd/Prof/5.RedeTeen/Back/config/session.php
UC4-BackEnd/Prof/5.RedeTeen/Back/config/view.php
UC4-BackEnd/Prof/5.RedeTeen/Back/database/.gitignore
UC4-BackEnd/Prof/5.RedeTeen/Back/database/factories/UserFactory.php
UC4-BackEnd/Prof/5.RedeTeen/Back/database/migrations/2014_10_12_000000_create_users_table.php
UC4-BackEnd/Prof/5.RedeTeen/Back/database/migrations/2014_10_12_100000_create_password_reset_tokens_table.php
UC4-BackEnd/Prof/5.RedeTeen/Back/database/migrations/2019_08_19_000000_create_failed_jobs_table.php
UC4-BackEnd/Prof/5.RedeTeen/Back/database/migrations/2019_12_14_000001_create_personal_access_tokens_table.php
UC4-BackEnd/Prof/5.RedeTeen/Back/database/migrations/2024_12_02_004444_create_recados_table.php
UC4-BackEnd/Prof/5.RedeTeen/Back/database/seeders/DatabaseSeeder.php
UC4-BackEnd/Prof/5.RedeTeen/Back/public/.htaccess
UC4-BackEnd/Prof/5.RedeTeen/Back/public/favicon.ico
UC4-BackEnd/Prof/5.RedeTeen/Back/public/index.php
UC4-BackEnd/Prof/5.RedeTeen/Back/public/robots.txt
UC4-BackEnd/Prof/5.RedeTeen/Back/resources/css/app.css
UC4-BackEnd/Prof/5.RedeTeen/Back/resources/js/app.js
UC4-BackEnd/Prof/5.RedeTeen/Back/resources/js/bootstrap.js
UC4-BackEnd/Prof/5.RedeTeen/Back/resources/views/welcome.blade.php
UC4-BackEnd/Prof/5.RedeTeen/Back/routes/api.php
UC4-BackEnd/Prof/5.RedeTeen/Back/routes/channels.php
UC4-BackEnd/Prof/5.RedeTeen/Back/routes/console.php
UC4-BackEnd/Prof/5.RedeTeen/Back/routes/web.php
UC4-BackEnd/Prof/5.RedeTeen/Back/storage/app/.gitignore
UC4-BackEnd/Prof/5.RedeTeen/Back/storage/app/public/.gitignore
UC4-BackEnd/Prof/5.RedeTeen/Back/storage/framework/.gitignore
UC4-BackEnd/Prof/5.RedeTeen/Back/storage/framework/cache/.gitignore
UC4-BackEnd/Prof/5.RedeTeen/Back/storage/framework/cache/data/.gitignore
UC4-BackEnd/Prof/5.RedeTeen/Back/storage/framework/sessions/.gitignore
UC4-BackEnd/Prof/5.RedeTeen/Back/storage/framework/testing/.gitignore
UC4-BackEnd/Prof/5.RedeTeen/Back/storage/framework/views/.gitignore
UC4-BackEnd/Prof/5.RedeTeen/Back/storage/logs/.gitignore
UC4-BackEnd/Prof/5.RedeTeen/Back/tests/CreatesApplication.php
UC4-BackEnd/Prof/5.RedeTeen/Back/tests/TestCase.php
UC4-BackEnd/Prof/5.RedeTeen/Back/tests/Feature/ExampleTest.php
UC4-BackEnd/Prof/5.RedeTeen/Back/tests/Unit/ExampleTest.php
UC4-BackEnd/Prof/5.RedeTeen/Front/index.html
UC4-BackEnd/Prof/5.RedeTeen/Front/script.js
UC4-BackEnd/Prof/5.RedeTeen/Back/bootstrap/cache/.gitignore
UC4-BackEnd/Prof/5.RedeTeen/Back/storage/app/.gitignore
UC4-BackEnd/Prof/5.RedeTeen/Back/storage/app/public/.gitignore
UC4-BackEnd/Prof/5.RedeTeen/Back/storage/framework/cache/.gitignore
UC4-BackEnd/Prof/5.RedeTeen/Back/storage/framework/cache/data/.gitignore
UC4-BackEnd/Prof/5.RedeTeen/Back/storage/framework/sessions/.gitignore
UC4-BackEnd/Prof/5.RedeTeen/Back/storage/framework/testing/.gitignore
UC4-BackEnd/Prof/5.RedeTeen/Back/storage/framework/views/.gitignore
UC4-BackEnd/Prof/5.RedeTeen/Back/storage/logs/.gitignore
